
.container > .card--button {
  /* position: absolute;
  top: 13%;
  left: 45%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #fffefe;
  color: rgb(84, 80, 80);
  font-size: 12px;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 5px; */
}
.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  /* margin-left: 4px; */
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--image {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 9px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;

}

.card--star {
  height: 14px;
}

.grey {
  color: #918E9B ;
}

.bold {
  font-weight: bolder;
}
