
.card {
  width: 14rem;
  height: 30rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: #ededee;
  /* font-size: 12px; */
  /* flex: 0 0 auto; */
  /* display: flex; */
  /* flex-direction: column; */
  /* position: relative; */
  /* margin-left: 4px; */
}

.card p {
  padding-left: 1rem;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
  padding-left: 20px;
}

.card--image {
  width: 100%;
  display: flex;
  height: 18rem;
  object-fit: cover;
  margin-bottom: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-bottom: 1rem;

}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.card--star {
  height: 14px;
}

.grey {
  color: #918E9B ;
}

.bold {
  font-weight: bolder;
}
