.hero--gridpic {
/* background-image: url('/Users/adrien/code/BobZiroll/airbnbclone/src/AirBnb photo grid.png'); */
 max-width: 1250px;
 align-self: center;
 margin-top: 8px;
}

h1 {
  display: flex;
}

p{
  display: flex;
  text-align: left;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
